body {
width: 800px;
position: relative;
margin-left: -400px;
left: 50%;
font-family: 'Verdana';
}
a {color: grey; text-decoration: none}
td {text-transform:lowercase;}
td.found {color: green;}
td.notfound {color: red;}

#artist
{
text-transform:uppercase;
}

#song
{
text-transform:lowercase;
}

#found
{
color: green;
}

#notfound
{
color: red;
}

